{% extends "UNAHSGOBundle::layout.html.twig" %}
{% block content %}
<section class="row-fluid">
  <aside class="span3">
    <nav class="sidebar-nav no-print">
      <ul class="nav nav-tabs nav-stacked">
        <li>
          <a href="{{ path('departamento') }}">Regresar a Dependencias</a>
        </li>
        <li>
          <a href="{{ path('departamento_edit', { 'id': entity.id }) }}">Editar esta Dependencia</a>
        </li>
      </ul>
    </nav>
  </aside>
  <section class="span6">
    <hgroup class="page-header">
      <h1>{{ entity.nombre }} <small>Dependencia</small></h1>
    </hgroup>
  </section>
</section>
<section class="row-fluid">
  <section class="span12">
    <table class="table table-striped table-bordered">
      <thead>
        <tr>
          <th class="no-print">Id</th>
          <th>Numero</th>
          <th>Emisor</th>
          <th>Descripcion</th>
          <th>Recibio</th>
          <th>Estado</th>
          <th>Recepci&oacute;n</th>
          <th>Emisi&oacute;n</th>
          <th class="no-print">Acciones</th>
        </tr>
      </thead>
      <tbody>
        {% for oficio in entity.oficios %}
        <tr>
          <td class="no-print"><a href="{{ path('oficio_show', { 'id': entity.id }) }}">{{ oficio.id }}</a></td>
          <td>{{ oficio.numero }}</td>
          <td>{{ oficio.emisor }}</td>
          <td>{{ oficio.descripcion }}</td>
          <td>{{ oficio.recibio }}</td>
          <td>{{ oficio.estado }}</td>
          <td>{{ oficio.getFechaDeRecibido|date("d/m/Y") }}</td>
          <td>{{ oficio.getFechaDeEmision|date("d/m/Y") }}</td>
          <td class="no-print"><a class="btn btn-primary" href="{{ path('oficio_show', { 'id': oficio.id }) }}">Mostrar</a><a class="btn btn-success" href="{{ path('oficio_edit', { 'id': oficio.id }) }}">Editar</a> </ul> </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </section>
</section>
{% endblock %}
