{% extends "UNAHSGOBundle::layout.html.twig" %}

{% block content %}
<section class="row">
  <section class="span12">
  <div class="page-header">
    <h1>Enviar un {{ tipo.nombre}} <small>Sistema Integrado de Correspondencia</small></h1>
  </div>
  </section>
</section>
<section class="row">
  <aside class="span3 no-print action-nav-normal">
    <div class="row">
      <section class="span3 action-nav-button">
        <a href="{{ path('documento_documento', { 'tipo': tipo.id }) }}"><i class="icon-home"></i><span>Regresar a  {{ tipo.nombre }}s</span></a>
      </section>
    </div>
    <div class="row">
      <section class="span3 action-nav-button">
        <a title="Buscar Documentos" href="{{ path('documento_search') }}"> <i class="icon-search"></i> <span>Buscar Documentos</span></a>
      </section>
    </div>
  </aside>
  <section class="span9">
    <form action="{{ path('documento_enviar', {'tipo' : tipo.id}) }}" method="post" {{ form_enctype(form) }}>
      {{ form_widget(form) }}
      <div class="form-actions">
        <button class="btn btn-primary" type="submit">
          <i class="icon-save"></i> Guardar {{ tipo }}
        </button>
      </div>
    </form>
  </section>
</section>
{% endblock %}
