{% extends "UNAHSGOBundle::layout.html.twig" %}
{% block content %}
<div class="row">
  <section class="span12">
    <hgroup class="page-header">
      <h1>Estad&iacute;sticas <small> del {{ inicio|date("d/m/Y") }} al {{ fin|date("d/m/Y") }}</small></h1>
    </hgroup>
  </section>
</div>
<div class="row">
  <div class="span6">
    <article class="graphic">
      <hgroup class="page-header">
        <h2>Estad&iacute;sticas Generales</h2>
      </hgroup>
      <canvas id="flujo" width="300" height="300"></canvas>
      <p>
        {{ recibidos }} Documentos han sido Recibidos
      </p>
      <p>
        {{ enviados }} Documentos han sido Enviados
      </p>
    </article>
  </div>
  <div class="span6">
    <article class="graphic">
      <hgroup class="page-header">
        <h2>Documentos Recibidos por Tipo de Solicitud</h2>
      </hgroup>
      <canvas id="tipificacion" width="300" height="300"></canvas>
      <table class="table table-bordered table-striped no-more-tables">
        <caption>Leyenda</caption>
        <tbody>
          {% for dato in tipificacion %}
          <tr>
            <td>{{ dato.nombre }}</td>
            <td>{{ dato.cantidad }}</td>
            <td>{{ (dato.cantidad / tipificacion_total * 100) // 1}}%</td>
            <td style="background-color: {{ dato.color }};"></td>
          </tr>
          {% endfor %}
        </tbody>
        <tfoot>
          <tr>
            <th>Total:</th>
            <th>{{ tipificacion_total }}</th>
            <th colspan="2">100%</th>
          </tr>
        </tfoot>
      </table>
    </article>
  </div>
</div>
<div class="row">
  <div class="span6">
    <article class="graphic">
      <hgroup class="page-header">
        <h2>Relaci&oacute;n entre Recibidos y Respondidos</h2>
      </hgroup>
      <canvas id="eficiencia" width="300" height="300"></canvas>
      <p>
        {{ respondidos }} Documentos han obtenido Respuesta
      </p>
      <p>
        {{ noRespondidos }} Documentos Recibidos sin Respuesta
      </p>
    </article>
  </div>
  <div class="span6">
    <article class="graphic">
      <hgroup class="page-header">
        <h2>Documentos Recibidos por Centro</h2>
      </hgroup>
      <canvas id="centro" width="300" height="300"></canvas>
      <table class="table table-bordered table-striped no-more-tables">
        <caption>Leyenda</caption>
        <tbody>
          {% for dato in centro %}
          <tr>
            <td>{{ dato.nombre }}</td>
            <td>{{ dato.cantidad }}</td>
            <td>{{ (dato.cantidad / centro_total * 100) // 1}}%</td>
            <td style="background-color: {{ dato.color }};"></td>
          </tr>
          {% endfor %}
        </tbody>
        
        <tfoot>
          <tr>
            <th>Total:</th>
            <th>{{ centro_total }}</th>
            <th colspan="2">100%</th>
          </tr>
        </tfoot>
      </table>
    </article>
  </div>
</div>
<div class="row">
  <div class="span6">
    <article class="graphic">
      <hgroup class="page-header">
        <h2>Documentos Recibidos por Facultad</h2>
      </hgroup>
      <canvas id="facultad" width="300" height="300"></canvas>
      <table class="table table-bordered table-striped no-more-tables">
        <caption>Leyenda</caption>
        <tbody>
          {% for dato in facultad %}
          <tr>
            <td>{{ dato.nombre }}</td>
            <td>{{ dato.cantidad }}</td>
            <td>{{ (dato.cantidad / facultad_total * 100) // 1}}%</td>
            <td style="background-color: {{ dato.color }};"></td>
          </tr>
          {% endfor %}
        </tbody>
        <tfoot>
          <tr>
            <th>Total:</th>
            <th>{{ facultad_total }}</th>
            <th colspan="2">100%</th>
          </tr>
        </tfoot>
      </table>
    </article>
  </div>
  <div class="span6">
    <article class="graphic">
      <hgroup class="page-header">
        <h2>Documentos Recibidos por Carrera</h2>
      </hgroup>
      <canvas id="carrera" width="300" height="300"></canvas>
      <table class="table table-bordered table-striped no-more-tables">
        <caption>Leyenda</caption>
        <tbody>
          {% for dato in carrera %}
          <tr>
            <td>{{ dato.nombre }}</td>
            <td>{{ dato.cantidad }}</td>
            <td>{{ (dato.cantidad / carrera_total * 100) // 1}}%</td>
            <td style="background-color: {{ dato.color }};"></td>
          </tr>
          {% endfor %}
        </tbody>
        <tfoot>
          <tr>
            <th>Total:</th>
            <th>{{ carrera_total }}</th>
            <th colspan="2">100%</th>
          </tr>
        </tfoot>
      </table>
    </article>
  </div>
</div>
<div class="row">
  <div class="span6">
    <article class="graphic">
      <hgroup class="page-header">
        <h2>Documentos Enviados por Tipo de Correspondencia</h2>
      </hgroup>
      <canvas id="tipo" width="300" height="300"></canvas>
      <table class="table table-bordered table-striped no-more-tables">
        <caption>Leyenda</caption>
        <tbody>
          {% for dato in tipo %}
          <tr>
            <td>{{ dato.nombre }}</td>
            <td>{{ dato.cantidad }}</td>
            <td>{{ (dato.cantidad / tipo_total * 100) // 1}}%</td>
            <td style="background-color: {{ dato.color }};"></td>
          </tr>
          {% endfor %}
        </tbody>
        <tfoot>
          <tr>
            <th>Total:</th>
            <th>{{ tipo_total }}</th>
            <th colspan="2">100%</th>
          </tr>
        </tfoot>
      </table>
    </article>
  </div>
  <div class="span6">
    <article class="graphic">
      <hgroup class="page-header">
        <h2>Documentos Recibidos por Tipo de Correspondencia</h2>
      </hgroup>
      <canvas id="tipo-recibido" width="300" height="300"></canvas>
      <table class="table table-bordered table-striped no-more-tables">
        <caption>Leyenda</caption>
        <tbody>
          {% for dato in tipo_recibido %}
          <tr>
            <td>{{ dato.cantidad }}</td>
            <td>{{ dato.nombre }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </article>
  </div>
</div>
{% endblock %}
{% block javascript %}
<script src="{{ asset('bundles/unahsgo/js/Chart.min.js') }}" type="text/javascript"></script>
<script type="text/javascript">
  var ctx = document.getElementById("flujo").getContext("2d");
  var data = {
    labels : ["Recibidos","Enviados"],
    datasets : [
      {
        fillColor : "rgba(220,220,220,0.5)",
        strokeColor : "rgba(220,220,220,1)",
        pointColor : "rgba(220,220,220,1)",
        pointStrokeColor : "#fff",
        data : [{{ recibidos }}, {{ enviados }}]
      },
    ]
  };
  var eficiencia = new Chart(ctx).Bar(data, {
    scaleOverride : true,
    scaleSteps : Math.max({{ recibidos }}, {{ enviados }}) + 1,
    scaleStepWidth : 1,
    scaleStartValue : 0
  });
  
  var ctx = document.getElementById("eficiencia").getContext("2d");
  data = [
    {
      value: {{ respondidos }},
      label: 'Respondidos: ' + {{ respondidos }},
      labelColor : 'white',
      color: '#3C13AF'
    },
    {
      value: {{ noRespondidos }},
      label: 'No Respondidos: ' + {{ noRespondidos }},
      labelColor : 'white',
      color: '#FFD600'
    }
  ]
  var eficiencia = new Chart(ctx).Pie(data);
  
  var ctx = document.getElementById("centro").getContext("2d");
  data = [
    {% for dato in centro %}
    {
      value: {{ dato.cantidad }},
      label: '{{ (dato.cantidad / centro_total * 100) // 1}}%',
      labelColor : 'white',
      color: '{{ dato.color }}'
    },
    {% endfor %}
    {
      value: 0
    }
  ]
  var centro = new Chart(ctx).Pie(data);
  
  var ctx = document.getElementById("facultad").getContext("2d");
  data = [
    {% for dato in facultad %}
    {
      value: {{ dato.cantidad }},
      label: '{{ (dato.cantidad / facultad_total * 100) // 1}}%',
      labelColor : 'white',
      color: '{{ dato.color }}'
    },
    {% endfor %}
    {
      value: 0
    }
  ]
  var facultad = new Chart(ctx).Pie(data);
  var ctx = document.getElementById("carrera").getContext("2d");
  data = [
    {% for dato in carrera %}
    {
      value: {{ dato.cantidad }},
      label: '{{ (dato.cantidad / carrera_total * 100) // 1}}%',
      labelColor : 'white',
      color: '{{ dato.color }}'
    },
    {% endfor %}
    {
      value: 0
    }
  ]
  var carrera = new Chart(ctx).Pie(data);
  
  var ctx = document.getElementById("tipo").getContext("2d");
  data = [
    {% for dato in tipo %}
    {
      value: {{ dato.cantidad }},
      label: '{{ (dato.cantidad / tipo_total * 100) // 1}}%',
      labelColor : 'white',
      color: '{{ dato.color }}'
    },
    {% endfor %}
    {
      value: 0
    }
    ]
  var tipo = new Chart(ctx).Pie(data);
  
  var ctx = document.getElementById("tipificacion").getContext("2d");
  data = [
    {% for dato in tipificacion %}
    {
      value: {{ dato.cantidad }},
      label: '{{ (dato.cantidad / tipificacion_total * 100) // 1}}%',
      labelColor : 'white',
      color: '{{ dato.color }}'
    },
    {% endfor %}
    {
      value: 0
    }
    ]
  var tipo = new Chart(ctx).Pie(data);
  
  var ctx = document.getElementById("tipo-recibido").getContext("2d");
  var data = {
    labels : [{% for dato in tipo_recibido %} "{{ dato.nombre }}", {% endfor %}],
    datasets : [
      {
        fillColor : "rgba(220,220,220,0.5)",
        strokeColor : "rgba(220,220,220,1)",
        pointColor : "rgba(220,220,220,1)",
        pointStrokeColor : "#fff",
        data : [{% for dato in tipo_recibido %} {{ dato.cantidad }}, {% endfor %}]
      },
    ]
  };
  var tipo_recibido = new Chart(ctx).Bar(data, {
    scaleOverride : true,
    scaleSteps : Math.max({% for dato in tipo_recibido %} {{ dato.cantidad }}, {% endfor %} 1) + 1,
    scaleStepWidth : 1,
    scaleStartValue : 0
  });
</script>
{% endblock %}