{% extends "UNAHSGOBundle::layout.html.twig" %}
{% block content %}
<div class="row">
  <section class="span12 page-header">
      <h1>Estad&iacute;sticas <small>Sistema Integrado de Correspondencia</small></h1>
  </section>
</div>
<div class="row">
  <section class="span6">
    <form action="{{ path('documento_estadistica_periodo') }}" method="get" {{ form_enctype(periodo_form) }}>
      <fieldset>
        <legend>
          Estad&iacute;sticas Por Fecha
        </legend>
        <input type="hidden" name="_method" value="GET" />
        {{ form_widget(periodo_form) }}
      </fieldset>
      <div class="form-actions">
        <button class="btn btn-primary" type="submit">
          <i class="icon-search"></i> Buscar
        </button>
      </div>
    </form>
  </section>
  <section class="span6">
    <form action="{{ path('documento_estadistica_resumen') }}" method="get" {{ form_enctype(resumen_form) }}>
      <fieldset>
        <legend>
          Resumen De Documentos Recibidos
        </legend>
        <input type="hidden" name="_method" value="GET" />
        {{ form_widget(resumen_form) }}
      </fieldset>
      <div class="form-actions">
        <button class="btn btn-primary" type="submit">
          <i class="icon-search"></i> Buscar
        </button>
      </div>
    </form>
  </section>
</div>
<div class="row">
  <section class="span6">
    <form action="{{ path('documento_estadistica_periodo_tipo') }}" method="get" {{ form_enctype(periodo_tipo_form) }}>
      <fieldset>
        <legend>
          Estad&iacute;sticas Por Tipo de Documento y Fecha
        </legend>
        <input type="hidden" name="_method" value="GET" />
        {{ form_widget(periodo_tipo_form) }}
      </fieldset>
      <div class="form-actions">
        <button class="btn btn-primary" type="submit">
          <i class="icon-search"></i> Buscar
        </button>
      </div>
    </form>
  </section>
</div>
{% endblock %}
