{% extends "UNAHSGOBundle::layout.html.twig" %}

{% block content %}
<section class="row">
    <section class="page-header span12">
      <h1>Recibir un {{ tipo.nombre}} <small>Sistema Integrado de Correspondencia</small></h1>
    </section>
</section>
<section class="row">
  <aside class="span3 no-print action-nav-normal">
    <div class="row">
      <section class="span3 action-nav-button">
        <a href="{{ path('documento_documento', { 'tipo': tipo.id }) }}"><i class="icon-home"></i><span>Regresar a  {{ tipo.nombre }}s</span></a>
      </section>
    </div>
  </aside>
  <section class="span3">
    <form action="{{ path('documento_recibir', {'tipo' : tipo.id}) }}" method="post" {{ form_enctype(form) }}>
      <fieldset>
      {{ form_widget(form) }}
      <div class="form-actions">
        <button class="btn btn-primary" type="submit">
          <i class="icon-save"></i> Guardar {{ tipo }}
        </button>
      </div>
      </fieldset>
    </form>
  </section>
  <section class="span3 form-dialog" id="dialog-departamento">
    <form class="ajax-form" action="{{ path('departamento_create') }}" method="post" {{ form_enctype(departamento_form) }}>
      <fieldset>
        <legend>Agregar Emisor o Receptor</legend>
      {{ form_widget(departamento_form) }}
      <div class="form-actions">
        <button class="btn btn-primary" type="submit">
          <i class="icon-save"></i> Guardar {{ tipo }}
        </button>
      </div>
      </fieldset>
    </form>
  </section>
  <section class="span3 form-dialog" id="dialog-tipo-solicitud">
    <form class="ajax-form" action="{{ path('departamento_create') }}" method="post" {{ form_enctype(tipo_solicitud_form) }}>
      <fieldset>
        <legend>Agregar Tipo de Solicitud</legend>
      {{ form_widget(tipo_solicitud_form) }}
      <div class="form-actions">
        <button class="btn btn-primary" type="submit">
          <i class="icon-save"></i> Guardar {{ tipo }}
        </button>
      </div>
      </fieldset>
    </form>
  </section>
</section>
{% endblock %}
