{% extends "UNAHSGOBundle::layout.html.twig" %}
{% block content %}
<section class="row">
  <aside class="span3 no-print action-nav-normal">
    <div class="row">
      <section class="span3 action-nav-button">
        <a href="{{ path('documento_documento', { 'tipo': documento.tipo.id }) }}"><i class="icon-home"></i><span>Regresar a {{ documento.tipo.nombre }}s</span></a>
      </section>
    </div>
    <div class="row">
      <section class="span3 action-nav-button">
        <a href="{{ path('documento_show', { 'id': documento.id }) }}">
          Regresar a  {{ documento.numero }}
        </a>
      </section>
    </div>
  </aside>
<section class="span6">
  <form action="{{ path('documento_respuesta', { 'documento': documento.id }) }}" method="post" {{ form_enctype(form) }}>
    <fieldset>
      <legend>
        Registrar Envio de un Documento como Respuesta a 
        {{ documento.tipo }}
        {% if documento.recibido %}
          {% if entity.facultad %} {{ entity.facultad }} {% endif %}
          {% if entity.carrera %} {{ entity.carrera }} {% endif %}
          {% if entity.instancia %} {{ entity.instancia }} {% endif %}
          {% if entity.centro %} {{ entity.centro }} {% endif %}
        {% else %}
        Enviado
        {% endif %}
        {{ documento.numero }}
      </legend>
      {{ form_widget(form) }}
      <div class="form-actions">
        <button type="submit" class="btn btn-primary">
          Guardar
        </button>
      </div>
    </fieldset>
  </form>
</section>
</section>
{% endblock %}
