{% extends "UNAHSGOBundle::layout.html.twig" %}
{% block content %}
<section class="row">
  <section class="span12 page-header">
    <h1>Estad&iacute;stica por Tipo de Solicitud y Tiempo de Respuesta</h1>
  </section>
</section>
<div class="row">
  <aside class="span3 no-print action-nav-normal">
    <div class="row">
      <section class="span3 action-nav-button">
        <a class="brand" href="{{ path('UNAHSGOBundle_homepage') }}"><i class="icon-home"></i><span>Inicio</span></a>
      </section>
    </div>
    <div class="row">
      <section class="span3 action-nav-button">
        <a title="Buscar Documentos" href="{{ path('documento_search') }}"><i class="icon-search"></i><span>Buscar Documentos</span></a>
      </section>
    </div>
  </aside>
  <section class="span9">
    <section class="row">
      <section class="span9">
        <hgroup class="page-header">
          <h2>Solicitudes Recibidas<small> del {{ inicio|date("d/m/Y") }} al {{ fin|date("d/m/Y") }}</small></h2>
        </hgroup>
        <table class="no-more-tables table table-striped table-bordered">
          <thead>
            <tr>
              <th>Tipo de Solicitud</th>
              <th>Cantidad</th>
              <th>Tiempo Promedio de Respuesta</th>
              <th>Porcentaje</th>
            </tr>
          </thead>
          <tbody>
            {% for dato in tipificacion %}
            <tr>
              <td data-title="Tipo de Solicitud">{{ dato.nombre }}</td>
              <td data-title="Cantidad">{{ dato.cantidad }}</td>
              <td data-title="Tiempo Promedio de Respuesta">{{ dato.tiempo }}</td>
              <td data-title="Porcentaje">{{ dato.porcentaje }}</td>
            </tr>
            {% endfor %}
          </tbody>
          <tfoot>
            <tr>
              <th>Total de Solicitudes</th>
              <th colspan="2">{{ recibidos }}</th>
            </tr>
          </tfoot>
        </table>
        {% if count == 0 %}
        <p>No se encontraron Documentos Respondidos</p>
        {% else %}
        <p>
          Tiempo Promedio de Respuesta: {{ tiempo }} Horas.
        </p>
        {% endif %}
      </section>
    </section>
  </section>
</div>
{% endblock %}
