{% extends "UNAHSGOBundle::layout.html.twig" %}
{% block content %}
<div class="row">
  <section class="span12">
    <hgroup class="page-header">
      <h1>Documentos Recibidos <small>B&uacute;squeda</small></h1>
    </hgroup>
  </section>
</div>
<div class="row">
  <section class="span4">
    <form action="{{ path('documento_search_numero') }}" method="get" {{ form_enctype(numero_form) }}>
      <fieldset>
        <legend>
          Buscar por N&uacute;mero y Documento
        </legend>
        <input type="hidden" name="_method" value="GET" />
        {{ form_widget(numero_form) }}
      </fieldset>
      <div class="form-actions">
        <button class="btn btn-primary" type="submit">
          <i class="icon-search"></i> Buscar
        </button>
      </div>
    </form>
  </section>
  <section class="span4">
    <form action="{{ path('documento_search_solicitud') }}" method="get" {{ form_enctype(solicitud_form) }}>
      <fieldset>
        <legend>
          Buscar por Tipo de Solicitud y Fecha
        </legend>
        <input type="hidden" name="_method" value="GET" />
        {{ form_widget(solicitud_form) }}
      </fieldset>
      <div class="form-actions">
        <button class="btn btn-primary" type="submit">
          <i class="icon-search"></i> Buscar
        </button>
      </div>
    </form>
  </section>
</div>
<div class="row">
  <section class="span4">
    <form action="{{ path('documento_search_date') }}" method="get" {{ form_enctype(date_form) }}>
      <fieldset>
        <legend>
          Buscar por Fecha de Recibido y Documento
        </legend>
        <input type="hidden" name="_method" value="GET" />
        {{ form_widget(date_form) }}
      </fieldset>
      <div class="form-actions">
        <button class="btn btn-primary" type="submit">
          <i class="icon-search"></i> Buscar
        </button>
      </div>
    </form>
  </section>
  <section class="span4">
    <form action="{{ path('documento_search_depto_comentario') }}" method="get" {{ form_enctype(depto_form) }}>
      <fieldset>
        <legend>
          Buscar por Emisor, Descripci&oacute;n y Documento
        </legend>
        <input type="hidden" name="_method" value="GET" />
        {{ form_widget(comentario_form) }}
      </fieldset>
      <div class="form-actions">
        <button class="btn btn-primary" type="submit">
          <i class="icon-search"></i> Buscar
        </button>
      </div>
    </form>
  </section>
</div>
<div class="row">
  <section class="span4">
    <form action="{{ path('documento_search_depto') }}" method="get" {{ form_enctype(depto_form) }}>
      <fieldset>
        <legend>
          Buscar por Emisor y Documento
        </legend>
        <input type="hidden" name="_method" value="GET" />
        {{ form_widget(depto_form) }}
      </fieldset>
      <div class="form-actions">
        <button class="btn btn-primary" type="submit">
          <i class="icon-search"></i> Buscar
        </button>
      </div>
    </form>
  </section>
</div>
<div class="row">
  <div class="span12">
    <section class="page-header">
      <h1>Documentos Enviados <small>B&uacute;squeda</small></h1>
    </section>
  </div>
</div>
<div class="row">
  <section class="span4">
    <form action="{{ path('documento_search_emision') }}" method="get" {{ form_enctype(emision_form) }}>
      <fieldset>
        <legend>
          Buscar por Fecha de Emisi&oacute;n y Documento
        </legend>
        <input type="hidden" name="_method" value="GET" />
        {{ form_widget(emision_form) }}
      </fieldset>
      <div class="form-actions">
        <button class="btn btn-primary" type="submit">
          <i class="icon-search"></i> Buscar
        </button>
      </div>
    </form>
  </section>
</div>
{% endblock %}
