{% extends '::base.html.twig' %}

{% block body -%}
    <h1>{{ entity.numero }} <small>{{ entity.tipo }} {% if not entity.recibido %}Enviado{% endif %}</small></h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Numero</th>
                <td>{{ entity.numero }}</td>
            </tr>
            <tr>
                <th>Descripcion</th>
                <td>{{ entity.descripcion }}</td>
            </tr>
            <tr>
                <th>Autor</th>
                <td>{{ entity.autor }}</td>
            </tr>
            <tr>
                <th>Entregado</th>
                <td>{{ entity.entregado }}</td>
            </tr>
            <tr>
                <th>Destinatario</th>
                <td>{{ entity.destinatario }}</td>
            </tr>
            <tr>
                <th>Recibio</th>
                <td>{{ entity.recibio }}</td>
            </tr>
            <tr>
                <th>Fechadeemision</th>
                <td>{{ entity.fechaDeEmision|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Fechadeenvio</th>
                <td>{{ entity.fechaDeEnvio|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Fechaderecibido</th>
                <td>{{ entity.fechaDeRecibido|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Estado</th>
                <td>{{ entity.estado }}</td>
            </tr>
            {% if entity.recibido %}
            <tr>
              <th>Emisor</th>
              <td>{{ entity.emisor }}</td>
            </tr>
            {% endif %}
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('documento') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('documento_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>
        <a href="{{ path('adjunto_new', { 'documento': entity.id }) }}">
            Agregar Adjunto
        </a>
    </li>
    <li>
        <form action="{{ path('documento_delete', { 'id': entity.id }) }}" method="post">
            <input type="hidden" name="_method" value="DELETE" />
            {{ form_widget(delete_form) }}
            <button type="submit">Delete</button>
        </form>
    </li>
</ul>
{% endblock %}
