{% extends '::base.html.twig' %}
{% block title %}Sistema Integrado de Correspondencia de la ViceRectoria Acad&eacute;mica{% endblock %}
{% block stylesheets %}
<link rel="icon" sizes="16x16" href="{{ asset('favicon.ico') }}">
<link rel="stylesheet" href="{{ asset('bundles/unahsgo/css/bootstrap.css') }}">
<link rel="stylesheet" href="{{ asset('bundles/unahsgo/css/application.css') }}">
<link rel="stylesheet" href="{{ asset('bundles/unahsgo/css/bootstrap-responsive.css') }}">
<link rel="stylesheet" href="{{ asset('bundles/unahsgo/css/jquery-ui.css') }}">
<link rel="stylesheet" href="{{ asset('bundles/unahsgo/css/print.css') }}" media="print">
<link rel="stylesheet" href="{{ asset('bundles/unahsgo/css/font-awesome.min.css') }}">
{% endblock %}
{% block body %}
<header>
  <nav id="top" class="navbar navbar-inverse navbar-fixed-top no-print">
    <div class="navbar-inner">
      <div class="container-fluid">
        <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="brand" href="{{ path('UNAHSGOBundle_homepage') }}">Vicerrectoria Acad&eacute;mica</a>
        <div class="nav-collapse collapse">
          <p class="navbar-text pull-right">
            {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
            {{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }} |
            <a href="{{ path('fos_user_security_logout') }}"> {{ 'layout.logout'|trans({}, 'FOSUserBundle') }} </a>
            {% else %}
            <a href="{{ path('fos_user_security_login') }}">{{ 'layout.login'|trans({}, 'FOSUserBundle') }}</a>
            {% endif %}
          </p>
          <ul class="nav">
            <li>
              <a href="{{ path('departamento') }}">Dependencias</a>
            <li>
            <li>
              <a href="{{ path('documento_search') }}">Buscar Documentos</a>
            </li>
            <li>
              <a href="{{ path('documento') }}">Estad&iacute;sticas</a>
            </li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>
  </nav>
  {% block heading %}{% endblock %}
</header>
  <div class="container">
    {% block content %}{% endblock %}
  </div>
  <footer class="container">
  </footer>
<script src="{{ asset('bundles/unahsgo/js/jquery.js') }}" type="text/javascript"></script>
<script src="{{ asset('bundles/unahsgo/js/jquery-ui.js') }}" type="text/javascript"></script>
<script src="{{ asset('bundles/unahsgo/js/bootstrap.js') }}" type="text/javascript"></script>
<script src="{{ asset('bundles/unahsgo/js/jquery.placeholder.js') }}" type="text/javascript"></script>
<script type="text/javascript">
    $(function() {
        $('input, textarea').placeholder();
        $('.datepicker').datepicker({
            dateFormat : 'dd/mm/yy'
        });
    }); 
</script>
{% block javascript %}{% endblock %}
{% endblock %}
