{% extends "UNAHSGOBundle::layout.html.twig" %}
{% block content %}
<section class="row">
  <section class="span12 page-header">
    <h1>Tipos de Solicitud <small>Sistema Integrado de Correspondencia</small></h1>
  </section>
</section>
<section class="row">
  <section class="span12">
    <a class="btn btn-primary" href="{{ path('tiposolicitud_new') }}"><i class="icon-file icon-large"></i> Nuevo Tipo de Solicitud</a>
  </section>
</section>
<section class="row">
  <section class="span12">
    <br />
    <table class="no-more-tables table table-striped table-bordered">
      <thead>
        <tr>
          <th>Nombre</th>
          <th>Color</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        {% for entity in entities %}
        <tr>
          <td><a href="{{ path('tiposolicitud_show', { 'id': entity.id }) }}">{{ entity.nombre }}</a></td>
          <td style="background-color: {{ entity.color }};">&nbsp;</td>
          <td>
            <a class="btn btn-success" href="{{ path('tiposolicitud_show', { 'id': entity.id }) }}">Mostrar</a>
            <a class="btn btn-info" href="{{ path('tiposolicitud_edit', { 'id': entity.id }) }}">Editar</a>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </section>
</section>
{% endblock %}
