{% extends "UNAHSGOBundle::layout.html.twig" %}
{% block content %}
<aside class="span3">
  <nav class="sidebar-nav">
    <ul class="nav nav-tabs nav-stacked">
      <li>
        <a href="{{ path('oficio_new') }}">Registrar un oficio</a>
      </li>
    </ul>
  </nav>
</aside>
<section class="span9">
  <section class="hero-unit">
    <hgroup>
      <h1>Sistema Gestor de Oficios</h1>
    </hgroup>
    <p>
      Oficios
    </p>
  </section>
    <section class="span9">
      <form action="{{ path('oficio_search_date') }}" method="get" {{ form_enctype(date_form) }}>
        <fieldset>
          <legend>
            Buscar por Fecha de Recibido
          </legend>
          <input type="hidden" name="_method" value="GET" />
          {{ form_widget(date_form) }}
        </fieldset>
        <div class="form-actions">
          <button class="btn btn-primary" type="submit">
            Buscar
          </button>
        </div>
      </form>
    </section>
    <section class="span9">
      <form action="{{ path('oficio_search_numero') }}" method="get" {{ form_enctype(numero_form) }}>
        <fieldset>
          <legend>
            Buscar por N&uacute;mero
          </legend>
          <input type="hidden" name="_method" value="GET" />
          {{ form_widget(numero_form) }}
        </fieldset>
        <div class="form-actions">
          <button class="btn btn-primary" type="submit">
            Buscar
          </button>
        </div>
      </form>
    </section>
    <section class="span9">
      <form action="{{ path('oficio_search_depto') }}" method="get" {{ form_enctype(depto_form) }}>
        <fieldset>
          <legend>
            Buscar por Dependencia
          </legend>
          <input type="hidden" name="_method" value="GET" />
          {{ form_widget(depto_form) }}
        </fieldset>
        <div class="form-actions">
          <button class="btn btn-primary" type="submit">
            Buscar
          </button>
        </div>
      </form>
    </section>
    <section class="span9">
      <form action="{{ path('oficio_search_depto_comentario') }}" method="get" {{ form_enctype(depto_form) }}>
        <fieldset>
          <legend>
            Buscar por Dependencia y Descripci&oacute;n
          </legend>
          <input type="hidden" name="_method" value="GET" />
          {{ form_widget(comentario_form) }}
        </fieldset>
        <div class="form-actions">
          <button class="btn btn-primary" type="submit">
            Buscar
          </button>
        </div>
      </form>
    </section>
  </div>
  {% endblock %}
