{% extends "UNAHSGOBundle::layout.html.twig" %}
{% block content %}
<section class="row-fluid">
  <section class="span12">
  <hgroup class="page-header">
    <h1>Oficio {{ entity.numero }} <small>{{ entity.emisor }}</small></h1>
  </hgroup>
  <div class="navbar no-print">
    <div class="navbar-inner">
      <ul class="nav">
        <li><a href="{{ path('oficio') }}">Regresar a Oficios</a></li>
        <li><a href="{{ path('oficio_new') }}">Registrar un oficio</a></li>
        <li><a href="{{ path('oficio_search') }}">B&uacute;squeda de Oficios</a></li>
        <li><a href="{{ path('oficio_edit', { 'id': entity.id }) }}">Editar este Oficio</a></li>
        <li><a href="{{ path('comentario_new', { 'oficio': entity.id }) }}">Registrar Seguimiento</a></li>
        <li><a href="{{ path('adjunto_new', { 'oficio': entity.id }) }}">Agregar Adjunto</a></li>
        <li><a href="{{ path('salida_responder', { 'oficio': entity.id }) }}">Responder</a></li>
      </ul>
    </div>
  </div>
  </section>
</section>
<section class="row-fluid">
  <section class="span12">
    <ul>
      <li>
        Descripci&oacute;n: {{ entity.descripcion }}
      </li>
      <li>
        Estado: {{ entity.estado }}
      </li>
      <li>
        Remitente: {{ entity.remitente }}
      </li>
      <li>
        Destinatario: {{ entity.destinatario }}
      </li>
      <li>
        Recibi&oacute;: {{ entity.recibio }}
      </li>
      <li>
        Fecha de Recepci&oacute;n: {{ entity.getFechaDeRecibido|date("d/m/Y") }}
      </li>
      <li>
        Fecha de Emisi&oacute;n: {{ entity.getFechaDeEmision|date("d/m/Y") }}
      </li>
    </ul>
    <table class="table table-striped table-bordered">
      <caption>
        Bit&aacute;cora de Seguimientos
      </caption>
      <thead>
        <tr>
          <th>Seguimiento</th>
          <th>Fecha</th>
          <th>Estado</th>
          <th class="no-print">Acciones</th>
        </tr>
      </thead>
      <tbody>
        {% for seguimiento in entity.comentarios %}
        <tr>
          <td>{{ seguimiento.comentario }}</td>
          <td>{{ seguimiento.fecha|date("d/m/Y") }}</td>
          <td>{{ seguimiento.estado }}</td>
          <td class="no-print"><a class="btn btn-danger" href="{{ path('comentario_edit', { 'id': seguimiento.id }) }}">editar</a></td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    <table class="table table-striped table-bordered">
      <caption>
        Adjuntos
      </caption>
      <thead>
        <tr>
          <th>Comentario</th>
          <th>Archivo</th>
          <th class="no-print">Acciones</th>
        </tr>
      </thead>
      <tbody>
        {% for adjunto in entity.adjuntos %}
        <tr>
          <td>{{ adjunto.nombre }}</td>
          <td><a href="../../../{{ adjunto.getWebPath() }}">{{ adjunto.path }}</a></td>
          <td  class="no-print"><a class="btn btn-success" href="{{ path('adjunto_edit', { 'id': adjunto.id }) }}">editar</a></td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </section>
</section>
<section class="row-fluid">
  <section class="span12">
    <table class="table table-striped table-bordered">
      <caption>
        Documentos Enviados Como Respuesta
      </caption>
      <thead>
        <tr>
          <th class="no-print">Id</th>
          <th>Numero</th>
          <th>Tipo</th>
          <th>Descripcion</th>
          <th>Recibio</th>
          <th>Enviado</th>
          <th>Recepci&oacute;n</th>
          <th>Emisi&oacute;n</th>
          <th class="no-print">Acciones</th>
        </tr>
      </thead>
      <tbody>
        {% for entity in entity.respuestas %}
        <tr>
          <td class="no-print"><a href="{{ path('salida_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
          <td>{{ entity.numero }}</td>
          <td>{{ entity.tipo }}</td>
          <td>{{ entity.descripcion }}</td>
          <td>{{ entity.recibio }}</td>
          <td>{{ entity.getFechaDeEnvio|date("d/m/Y") }}</td>
          <td>{{ entity.getFechaDeRecibido|date("d/m/Y") }}</td>
          <td>{{ entity.getFechaDeEmision|date("d/m/Y") }}</td>
          <td class="no-print"><a class="btn btn-primary" href="{{ path('salida_show', { 'id': entity.id }) }}">Mostrar</a><a class="btn btn-success" href="{{ path('salida_edit', { 'id': entity.id }) }}">Editar</a> </ul> </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </section>
</section>
<section class="row-fluid">
  <section class="span12">
    <form class="no-print" action="{{ path('oficio_delete', { 'id': entity.id }) }}" method="post">
      <input type="hidden" name="_method" value="DELETE" />
      {{ form_widget(delete_form) }}
      <button class="btn btn-danger" type="submit">
        Eliminar este Oficio
      </button>
    </form>
  </section>
</section>
{% endblock %}
