{% extends "UNAHSGOBundle::layout.html.twig" %}
{% block content %}
<aside class="span3">
  <nav class="sidebar-nav no-print">
    <ul class="nav nav-tabs nav-stacked">
		<li><a href="{{ path('oficio') }}">Regresar a Oficios</a></li>
      <li><a href="{{ path('oficio_new') }}">Registrar un oficio</a></li>
      <li><a href="{{ path('oficio_search') }}">B&uacute;squeda de Oficios</a></li>
    </ul>
    <ul class="nav nav-tabs nav-stacked">
		<li><a href="{{ path('oficio_edit', { 'id': entity.id }) }}">Editar este Oficio</a></li>
		<li><a href="{{ path('comentario_new', { 'oficio': entity.id }) }}">Registrar Seguimiento</a></li>
		<li><a href="{{ path('adjunto_new', { 'oficio': entity.id }) }}">Agregar Adjunto</a></li>
    </ul>
  </nav>
</aside>
<section class="span9">
<section class="hero-unit">
  <hgroup>
    <h1>{{ entity.numero }} - {{ entity.emisor }}</h1>
  </hgroup>
  <p>Oficio</p>
</section>
<ul>
	<li>Descripci&oacute;n: {{ entity.descripcion }}</li>
	<li>Estado: {{ entity.estado }}</li>
	<li>Remitente: {{ entity.remitente }}</li>
	<li>Destinatario: {{ entity.destinatario }}</li>
    <li>Recibi&oacute;: {{ entity.recibio }}</li>
    <li>Fecha de Recepci&oacute;n: {{ entity.getFechaDeRecibido|date("d/m/Y") }}</li>
    <li>Fecha de Emisi&oacute;n: {{ entity.getFechaDeEmision|date("d/m/Y") }}</li>
</ul>
<table class="table table-striped">
	<caption>Bit&aacute;cora de Seguimientos</caption>
	<thead>
		<tr>
			<th>Seguimiento</th>
			<th>Fecha</th>
			<th>Estado</th>
			<th class="no-print">Acciones</th>
		</tr>
	</thead>
	<tbody>
	{% for seguimiento in entity.comentarios %}
		<tr>
			<td>{{ seguimiento.comentario }}</td>
			<td>{{ seguimiento.fecha|date("d/m/Y") }}</td>
			<td>{{ seguimiento.estado }}</td>
			<td class="no-print">
				<a class="btn btn-danger" href="{{ path('comentario_edit', { 'id': seguimiento.id }) }}">editar</a>
			</td>
		</tr>
	{% endfor %}
	</tbody>
</table>
<hr>
<table class="table table-striped">
	<caption>Adjuntos</caption>
	<thead>
		<tr>
			<th>Comentario</th>
			<th>Archivo</th>
			<th class="no-print">Acciones</th>
		</tr>
	</thead>
	<tbody>
	{% for adjunto in entity.adjuntos %}
		<tr>
			<td>{{ adjunto.nombre }}</td>
      <td><a href="../../../{{ adjunto.getWebPath() }}">{{ adjunto.path }}</a></td>
			<td  class="no-print"><a class="btn btn-success" href="{{ path('adjunto_edit', { 'id': adjunto.id }) }}">editar</a></td>
		</tr>
	{% endfor %}
	</tbody>
</table>
    <form class="no-print" action="{{ path('oficio_delete', { 'id': entity.id }) }}" method="post">
		<input type="hidden" name="_method" value="DELETE" />
		{{ form_widget(delete_form) }}
		<button class="btn btn-danger" type="submit">Eliminar este Oficio</button>
	</form>
</section>
{% endblock %}
