{% extends "UNAHSGOBundle::layout.html.twig" %}
{% block content %}
<aside class="span3">
  <nav class="well sidebar-nav">
    <ul class="nav nav-list">
      <li>
        <a href="{{ path('departamento') }}">Regresar a Oficios</a>
      <li>
        <a href="{{ path('oficio_show', { 'id': entity.oficio.id }) }}">Regresar a {{ entity.oficio.numero }} {{ entity.oficio.emisor }}</a>
      </li>
    </ul>
  </nav>
</aside>
<section class="span6">
  
  <form action="{{ path('comentario_delete', { 'id': entity.id }) }}" method="post">
	<fieldset>
		<legend>Eliminar Seguimento {{ entity.comentario }} de {{ entity.oficio.numero }}  {{ entity.oficio.emisor }}</legend>
    <input type="hidden" name="_method" value="DELETE" />
    {{ form_widget(delete_form) }}
    <button class="btn btn-danger" type="submit">
      Eliminar este Seguimiento
    </button>
	</fieldset>
  </form>
</section>
{% endblock %}
