{% extends "UNAHSGOBundle::layout.html.twig" %}
{% block content %}
<aside class="span3">
  <nav class="sidebar-nav">
    <ul class="nav nav-tabs nav-stacked">
      <li>
        <a href="{{ path('documento') }}">Regresar a Documentos</a>
      <li>
        <a href="{{ path('documento_show', { 'id': entity.documento.id }) }}">Regresar a {{ entity.documento.numero }} {{ entity.documento.emisor }}</a>
      </li>
    </ul>
  </nav>
</aside>
<section class="span6">
  <form action="{{ path('comentario_create', { 'documento': documento.id }) }}" method="post" {{ form_enctype(form) }}>
    <fieldset>
      <legend>
        Registrar Seguimiento a {{ documento.tipo }} {% if documento.recibido %} {{ documento.emisor }} {% else %} Enviado {% endif %} {{ documento.numero }}
      </legend>
      {{ form_widget(form) }}
      <div class="form-actions">
        <button type="submit" class="btn btn-primary">
          Guardar
        </button>
      </div>
    </fieldset>
  </form>
</section>
{% endblock %}
