{% extends "UNAHSGOBundle::layout.html.twig" %}
{% block content %}
<section class="row-fluid">
  <aside class="span3">
    <nav class="well sidebar-nav">
      <ul class="nav nav-list">
        <li>
          <a href="{{ path('salida') }}">Regresar a Envio de Documentos</a>
        <li>
          <a href="{{ path('salida_show', { 'id': documento.id }) }}">Regresar a {{ documento.tipo }} {{ documento.numero }}</a>
        </li>
      </ul>
    </nav>
  </aside>
  <section class="span6">
    <form action="{{ path('salida_update', { 'id': entity.id }) }}" method="post" {{ form_enctype(edit_form) }}>
      <fieldset>
        <legend>
          Editar un Documento Enviado
        </legend>
        {{ form_widget(form) }}
        <div class="form-actions">
          <button class="btn btn-primary" type="submit">
            Actualizar
          </button>
        </div>
      </fieldset>
    </form>
    <form action="{{ path('salida_delete', { 'id': entity.id }) }}" method="post">
      <input type="hidden" name="_method" value="DELETE" />
      {{ form_widget(delete_form) }}
      <button type="submit">
        Eliminar este Documento
      </button>
    </form>
  </section>
</section>
{% endblock %}
