{% extends "UNAHSGOBundle::layout.html.twig" %}
{% block content %}
<section class="row-fluid">
  <section class="span12">
  <hgroup class="page-header">
    <h1>{{ entity.tipo }} {{ entity.numero }} <small>Vice-Rectoria Acad&eacute;mica</small></h1>
  </hgroup>
  <div class="navbar no-print">
    <div class="navbar-inner">
      <ul class="nav">
        <li><a href="{{ path('salida') }}">Regresar a Envio de Documentos</a></li>
        <li><a href="{{ path('salida_new') }}">Registrar un Envio de Documento</a></li>
        <li><a href="{{ path('salida_edit', { 'id': entity.id }) }}">Editar este Documento</a></li>
        <li><a href="{{ path('adjuntosalida_new', { 'documento': entity.id }) }}">Agregar Adjunto</a></li>
      </ul>
    </div>
  </div>
  </section>
</section>
<section class="row-fluid">
  <section class="span12">
    <ul>
      <li>
        Descripci&oacute;n: {{ entity.descripcion }}
      </li>
      <li>
        Remitente: {{ entity.remitente }}
      </li>
      <li>
        Destinatario: {{ entity.destinatario }}
      </li>
      <li>
        Recibi&oacute;: {{ entity.recibio }}
      </li>
      <li>
        Fecha de Recepci&oacute;n: {{ entity.getFechaDeEnvio|date("d/m/Y") }}
      </li>
      <li>
        Fecha de Recepci&oacute;n: {{ entity.getFechaDeRecibido|date("d/m/Y") }}
      </li>
      <li>
        Fecha de Emisi&oacute;n: {{ entity.getFechaDeEmision|date("d/m/Y") }}
      </li>
    </ul>
    <table class="table table-striped table-bordered">
      <caption>
        Bit&aacute;cora de Seguimientos
      </caption>
      <thead>
        <tr>
          <th>Seguimiento</th>
          <th>Fecha</th>
          <th>Estado</th>
          <th class="no-print">Acciones</th>
        </tr>
      </thead>
      <tbody>
        {% for seguimiento in entity.comentarios %}
        <tr>
          <td>{{ seguimiento.comentario }}</td>
          <td>{{ seguimiento.fecha|date("d/m/Y") }}</td>
          <td>{{ seguimiento.estado }}</td>
          <td class="no-print"><a class="btn btn-danger" href="{{ path('comentario_edit', { 'id': seguimiento.id }) }}">editar</a></td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    <hr>
    <table class="table table-striped table-bordered">
      <caption>
        Adjuntos
      </caption>
      <thead>
        <tr>
          <th>Comentario</th>
          <th>Archivo</th>
          <th class="no-print">Acciones</th>
        </tr>
      </thead>
      <tbody>
        {% for adjunto in entity.adjuntos %}
        <tr>
          <td>{{ adjunto.nombre }}</td>
          <td><a href="../../../{{ adjunto.getWebPath() }}">{{ adjunto.path }}</a></td>
          <td  class="no-print"><a class="btn btn-success" href="{{ path('adjuntosalida_edit', { 'id': adjunto.id }) }}">editar</a></td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    <form class="no-print" action="{{ path('salida_delete', { 'id': entity.id }) }}" method="post">
      <input type="hidden" name="_method" value="DELETE" />
      {{ form_widget(delete_form) }}
      <button class="btn btn-danger" type="submit">
        Eliminar este Documento
      </button>
    </form>
  </section>
</section>
{% endblock %}
