{% extends "UNAHSGOBundle::layout.html.twig" %}
{% block content %}
<section class="row-fluid">
  <aside class="span3">
    <nav class="well sidebar-nav">
      <ul class="nav nav-list">
        <li>
          <a href="{{ path('salida') }}">Regresar a Oficios</a>
        <li>
          <a href="{{ path('salida_show', { 'id': documento.id }) }}">Regresar a {{ documento.tipo }} {{ documento.numero }}</a>
        </li>
      </ul>
    </nav>
  </aside>
  <section class="span6">
    <form action="{{ path('adjuntosalida_create', { 'documento': documento.id }) }}" method="post" {{ form_enctype(form) }}>
      <fieldset>
        <legend>
          Agregar un Adjunto a {{ documento.tipo }} {{ documento.numero }}
        </legend>
        {{ form_widget(form) }}
        <div class="form-actions">
          <button class="btn btn-primary" type="submit">
            Create
          </button>
        </div>
      </fieldset>
    </form>
  </section>
</section>
{% endblock %}
