{% extends "UNAHSGOBundle::layout.html.twig" %}
{% block content %}
<aside class="span3">
  <nav class="well sidebar-nav">
    <ul class="nav nav-list">
      <li>
        <a href="{{ path('documento') }}">Regresar a {{ documento.tipo }}</a>
      <li>
        <a href="{{ path('documento_show', { 'id': documento.id }) }}">Regresar a {{ documento.numero }} {{ documento.emisor }}</a>
      </li>
      </li>
    </ul>
  </nav>
</aside>
<section class="span6">
  <form action="{{ path('adjunto_create', { 'documento': documento.id }) }}" method="post" {{ form_enctype(form) }}>
    <fieldset>
      <legend>
        Agregar un Adjunto a {{ documento.tipo }} {% if documento.recibido %} {{ documento.emisor }} {% else %} Enviado {% endif %} {{ documento.numero }}
      </legend>
      {{ form_widget(form) }}
      <div class="form-actions">
        <button type="submit" class="btn btn-primary">
          Guardar
        </button>
      </div>
    </fieldset>
  </form>
</section>
{% endblock %}
