{% extends "UNAHSGOBundle::layout.html.twig" %}

{% block content %}
<div class="row">
  <hgroup class="span12 page-header">
    <h1>Sistema Integrado de Correspondencia</h1>
  </hgroup>
</div>
<div class="row">
  <div class="span9 offset3">
    <div class="row action-nav-normal">
      {% for tipo in tipos %}
      <section class="span4 action-nav-button">
        <a title="{{ tipo.nombre }}" href="{{ path('documento_documento', { 'tipo': tipo.id }) }}">
          <i class="icon-envelope"></i>
          <span>{{ tipo.nombre }}</span>
        </a>
      </section>
      {% endfor %}
    </div>
  </div>
</div>
<script src="{{ asset('bundles/unahsgo/js/jquery.js') }}" type="text/javascript"></script>
<script src="{{ asset('bundles/unahsgo/js/jquery-ui.js') }}" type="text/javascript"></script>
<script src="{{ asset('bundles/unahsgo/js/bootstrap.js') }}" type="text/javascript"></script>
<script src="{{ asset('bundles/unahsgo/js/jquery.placeholder.js') }}" type="text/javascript"></script>
<script type="text/javascript">
    $(function() {
        $('input, textarea').placeholder();
        $('.datepicker').datepicker({
            dateFormat : 'dd/mm/yy'
        });
    }); 
</script>
{% endblock %}
