{% extends "UNAHSGOBundle::layout.html.twig" %}

{% block content %}
<div class="row">
  <section class="span12">
    <div class="page-header">
      <h1>Sistema Integrado de Correspondencia</h1>
    </div>
  </section>
</div>
<div class="row">
  <div class="row">
    <div class="span12">
      <div class="span10 offset2">
        <div class="row action-nav-normal">
          {% for tipo in tipos %}
          <section class="span4 action-nav-button">
            <a title="{{ tipo.nombre }}" href="{{ path('documento_documento', { 'tipo': tipo.id }) }}"> <img src="{{ asset('bundles/unahsgo/img/'~ tipo.imagen ~'.png') }}" alt="{{ tipo.plural }}" /> <span>{{ tipo.nombre }}</span> </a>
          </section>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="span12">
    <div class="row">
      <div class="span12">
        <section class="page-header">
          <h2>Coordinaciones</h2>
        </section>
      </div>
    </div>
    <div class="row">
      <div class="span10 offset2">
        <div class="row action-nav-normal">
          {% for coordinacion in coordinaciones %}
          <section class="span4 action-nav-button">
            <a title="{{ coordinacion.nombre }}" href="{{ path('coordinacion_show', { 'id': coordinacion.id }) }}"> <span>{{ coordinacion.nombre }}</span> </a>
          </section>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
