{% extends "UNAHSGOBundle::layout.html.twig" %}
{% block content %}
<section class="row-fluid">
  <section class="span12">
    <hgroup class="page-header">
      <h1>Tipos de Documentos <small>Sistema Integrado de Correspondencia</small></h1>
    </hgroup>
  </section>
</section>
<section class="row-fluid">
  <section class="span12">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Identificador</th>
          <th>Nombre</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        {% for entity in entities %}
        <tr>
          <td>{{ entity.id }}</td>
          <td><a href="{{ path('tipodocumento_show', { 'id': entity.id }) }}">{{ entity.nombre }}</a></td>
          <td>
              <a class="btn btn-success" href="{{ path('tipodocumento_show', { 'id': entity.id }) }}">mostrar</a>
              <a class="btn btn-info" href="{{ path('tipodocumento_edit', { 'id': entity.id }) }}">editar</a>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    <a class="btn btn-primary" href="{{ path('tipodocumento_new') }}">Nuevo Tipo de Documento</a>
  </section>
</section>
{% endblock %}
